.checkstyle
.classpath
.gradle
.idea
.nb-gradle
.pmd
.project
.settings

build/
config/checkstyle/checkstyle.xml
config/checkstyle/checkstyle.xsl
config/codenarc/codenarc.conf
config/pmd/ruleset.xml
documentation/
gradle/wrapper/
out/
target/

build.gradle
local.properties
user.properties
*.iml
*.mmd


